h2{
    width: 100%;
    text-align: center;
    font-size: 10vw;
}
h3{
    width: 100%;
    text-align: center;
    font-size: 5vw;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
}
p{
    padding: 0;
    line-height: 0px;
}

.button input {
    margin: 0 10px;
    font-size: 5vw;
}
.button input:active{
    font-size: 4.5vw;
    color: black;
    border: none;
}
.timer > div,
.timer > strong {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
}
strong{
    font-size: 10vw;
}

.timer > div {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 0 3vw;
    border-radius: 3vw;
    font-size: 18vw;
    margin: 0 2vw;
}
.start{
    background-color: rgb(14, 167, 255);
    border-radius: 5px;
    
}
.stop{
    background-color: red;
    border-radius: 5px;
    border: 0.5vw outset;
}
.pause{
    background-color: orange;
    border-radius: 5px; 
    border: 0.5vw outset;
}
.input{
    display: flex;
    justify-content: center;

}
.input>input{
    margin: 0 3vw;
    width: 30%;
    font-size: 5vw;
    
}
.input{
width: 100%;
}
.hour ,
.minute ,
.second {
box-shadow: 0 3vw 5vw rgba(0, 0, 0, 0.3), 
0 2vw 2vw rgba(0, 0, 0, 0.2), 
0 0 0 0.5vw rgba(0, 0, 0, 0.1); 
border: 1vw outset;
}
#hour ,
#minute ,
#second {
    text-shadow: 2vw 2vw 4vw rgba(253, 218, 218, 0.5),
       -2vw -2vw 4vw rgba(255, 208, 0, 0.5);
    font-weight: bolder;
}
@media (max-width: 850px) {
    .timer>strong{
        display: none;
    }
}