h2{
    text-align: center;
}
.container{
    border: 3px black inset;
    width: 600px;
    margin: 0 auto;
}
table{
    background-color: rgb(255, 248, 150);
    width: 95%;
    margin: 0 auto;
    
}
table {
    border-collapse: collapse;
    border: 1px solid black;
  }
td{
    border: 1px solid green;
    width: 100%;
}
td:first-child{
    width: 25%;
    padding-left: 2%;
} 
input{
    border: inset;
}
.doanKhack fieldset{
    width: 70%;
    margin: 0 auto;
    border: red solid 2px;
}
em{
    color: red;
}

#submit{
    border: outset;
}
td.submit {
    text-align: center;
  }
#submit:active{
    border: inset;
}
p{
    visibility: hidden;
}
#output{
    text-align: center;
}
.invalid input {
    border-color: red;
  }
  .invalid .message {
    color: red; /* Màu chữ khi có lỗi */
  }